body {
    background-image: url("/images/backO.jpg");
}

/* csschat*/
.container {
    width: 85%;
    min-height: 98vh;
    margin:0 auto;
    overflow: hidden;
    background-color: #e2e2e2;
}

.header {
    background-color: #ff5500;
    width: 100%;
    text-align: center;
    font-size: 3vmax;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 2vh;
    box-sizing: border-box;
    height: 17vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0;
}

.topBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.returnBoxLeft {
    text-align: center;
    box-sizing: border-box;
    width: 50%;
    background-color: #6d6d6d;

}

.errorBox {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #6d6d6d;
    height: 3vh;
    min-height: 3vh;
    width: 100%;
}

.errorBox p {
    font-size: 1.7vmax;
    color: white;
    font-family: Arial;
}

.createTableBoxLeft {
    text-align: center;
    box-sizing: border-box;
    background-color: #6d6d6d;
    width: 50%;
}

#createTable, input[type="submit"]{
    box-sizing: border-box;
    background-color: #ff9a16;
    border: none;
    color: white;
    padding: 0.5vmax;
    text-decoration: none;
    margin: 1.5% auto;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
    font-size: 1.5vmax;

    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 0px solid #000000;

    -webkit-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
}

.subContainer {
    width: 72%;
    height: 100%;
    box-sizing: border-box;
    float: left;
}

.chatBox {
    float: right;
    width: 28%;
    height: 100%;
    box-sizing: border-box;
    background-color: #6d6d6d;
}

.info {
    text-align: center;
    float: right;
    width: 28%;
    height: 100%;
    box-sizing: border-box;
    background-color: #6d6d6d;
    color: white;
}

.info p {
    font-size: 1.5vmax;
    font-family: Arial;
    font-weight: bold;
}

#username, #numberPlayers {
    font-size: 2.5vmax;
    color: #ff9a16;
    font-family: Arial;
    font-weight: bold;
}

.chatWindow {
    width: 100%;
    min-height: 55vh;
    max-height: 55vh;
    background-color: white;
    overflow-y: scroll;
}

.chatControlsBox {
    width: 100%;
    background-color: grey;
    min-height: 7vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.chatControls {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#message {
    margin: 1%;
    width: 78%;
    height: 100%;
    font-size: 1.3vmax;
    box-sizing: border-box;
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    border: none;
    padding: 1%;
}

#send {
    margin: 1%;
    width: 20%;
    font-size: 1.3vmax;
    box-sizing: border-box;
    cursor: pointer;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    border: none;
    padding: 1,2%;
    text-decoration: none;
}

#send:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#userchatmsg {
    font-size: 0.8vmax;
    font-family: Arial;
}

#userchatmsg span {
    font-size: 1vmax;
    font-family: Arial;
    font-weight: bold;
}


.tablesContainer {
    width: 100%;
    min-height: 70vh;
    padding-top: 2%;
    box-sizing: border-box;
}

/* csschat*/

.table {
    display: inline-block;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 25vw;
    height: 18vh;
    background-color: #f9c875;
    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 0.4vh solid #000000;
}

.status {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 20%;
    width: 100%;
}

.table p {
    padding: 0;
    margin: 0;
    font-size: 1.2vmax;
    color: black;
    font-weight: bold;
}

.players {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 62%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.buttons {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 18%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.owner {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
}

.vsBox {
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}

#vsimg2 {
    width: 100%
    height: auto;
}

.guest {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    width: 40%;
}

.guestBox {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.leftButtonBox {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.rightButtonBox {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.singleButtonBox {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

#startGame, #join {
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.2vmax;
  background: #12a817;
  padding: 1.2vh;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#startGame:hover, #join:hover {
  background: #00de0f;
  text-decoration: none;
}

#deleteTable, #exit, #delIncomplete {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #db0303);
  background-image: -moz-linear-gradient(top, #ff0000, #db0303);
  background-image: -ms-linear-gradient(top, #ff0000, #db0303);
  background-image: -o-linear-gradient(top, #ff0000, #db0303);
  background-image: linear-gradient(to bottom, #ff0000, #db0303);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.2vmax;
  padding: 1.2vh;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#deleteTable:hover, #exit:hover, #delIncomplete:hover {
  background: #ff1717;
  background-image: -webkit-linear-gradient(top, #ff1717, #ff0000);
  background-image: -moz-linear-gradient(top, #ff1717, #ff0000);
  background-image: -ms-linear-gradient(top, #ff1717, #ff0000);
  background-image: -o-linear-gradient(top, #ff1717, #ff0000);
  background-image: linear-gradient(to bottom, #ff1717, #ff0000);
  text-decoration: none;
}

#kick {
  background: #ff0000;
  background-image: -webkit-linear-gradient(top, #ff0000, #db0303);
  background-image: -moz-linear-gradient(top, #ff0000, #db0303);
  background-image: -ms-linear-gradient(top, #ff0000, #db0303);
  background-image: -o-linear-gradient(top, #ff0000, #db0303);
  background-image: linear-gradient(to bottom, #ff0000, #db0303);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.5vmax;
  padding: 0.3vh;
  margin-left: 5%;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#kick:hover {
  background: #ff1717;
  background-image: -webkit-linear-gradient(top, #ff1717, #ff0000);
  background-image: -moz-linear-gradient(top, #ff1717, #ff0000);
  background-image: -ms-linear-gradient(top, #ff1717, #ff0000);
  background-image: -o-linear-gradient(top, #ff1717, #ff0000);
  background-image: linear-gradient(to bottom, #ff1717, #ff0000);
  text-decoration: none;
}

/* cambios lobby fin*/
/* question css */
.options {
    width: 100%;
    margin:auto;
    text-align: center;
}

#option1, #option2, #option3, #option4 {
    display: block;
    background-color: #ff9a16;
    border: none;
    color: white;
    padding: 0.5vmax;
    text-decoration: none;
    margin: 1.5% auto;
    cursor: pointer;
    width: 26%;
    font-weight: bold;
    font-size: 1.3vmax;

    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 0px solid #000000;

    -webkit-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
}

#category {
    font-weight: bold;
    font-size: 3.7vmax;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: green;
}

.question p {
    font-weight: bold;
    font-size: 1.7vmax;
    text-align: center;
}

.questionBox {
    width: 100%;
    margin-top: 5%;
}

.question {
    margin:0 auto;
    width: 75%;
    background-color: #f2f2f2;
    border-radius: 155px 155px 155px 155px;
    -moz-border-radius: 155px 155px 155px 155px;
    -webkit-border-radius: 155px 155px 155px 155px;
    border: 0.5vh solid #e6e6e6;
}

#rightFeedback {
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #23d134;
}

#wrongFeedback {
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #e80000;
}

/* Statistics View css*/

.container2 {
    width: 100%;
    height: 100%;
}

.stats {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    height: 55vh;
    align-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.loserStats {
    line-height: 0.5;
    text-align: center;
    width: 42%;
    height: 100%;

    background-color: #f2f2f2;
    border-radius: 155px 155px 155px 155px;
    -moz-border-radius: 155px 155px 155px 155px;
    -webkit-border-radius: 155px 155px 155px 155px;
    border: 0.5vh solid #e6e6e6;
}

.winnerStats {
    line-height: 0.6;
    text-align: center;
    width: 42%;
    height: 100%;

    background-color: #f2f2f2;
    border-radius: 155px 155px 155px 155px;
    -moz-border-radius: 155px 155px 155px 155px;
    -webkit-border-radius: 155px 155px 155px 155px;
    border: 0.5vh solid #e6e6e6;
}

.vs {
    width: 15%;
}

#vsimg {
    width: 100%;
    height: auto;
}

#loserName, #winnerName {
    font-weight: bold;
    font-size: 4.5vmax;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#scoreText {
    text-align: left;
    font-weight: bold;
    font-size: 4.5vmax;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#loserText {
    font-weight: bold;
    font-size: 4.5vmax;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #e80000;
}

#winnerText {
    font-weight: bold;
    font-size: 4.5vmax;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #028e05;
}

.mainStat {
    width: 100%;
    height: 100%;
    text-align: center;
}

#winnerScore {
    font-weight: bold;
    font-size: 5.5vmax;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #028e05;
}

#loserScore {
    font-weight: bold;
    font-size: 5.5vmax;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #e80000;
}

#returnLobby {
    background-color: #ff5500;
    border: none;
    color: white;
    padding: 0.5vmax;
    text-decoration: none;
    cursor: pointer;
    width: 25%;
    height: 6vh;
    font-weight: bold;
    font-size: 1.7vmax;

    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 0px solid #000000;

    -webkit-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
}

