

body {
    background-image: url("/images/backO.jpg");
}

.container {
    width: 85%;
    height: 100%;
    margin:0 auto;
    overflow: hidden;
    background-color: #ffffff;
}


.main {
    width: 100%;
    box-sizing: border-box;
    margin:auto;
    text-align: center;
}

footer {
    width: 100%;
    box-sizing: border-box;
    height:auto;
}


img {
    height: 100%;
    width: 100%;
    height:auto;
    box-sizing: border-box;
}



@media screen and (max-width: 400px) {
    .container {
        width: 100%;
        height: 100%;
    }
}

header {
    background-color: #ff5500;
    width: 100%;
    text-align: center;
    font-size: 3vmax;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 2vh;
    box-sizing: border-box;
    padding: 0.1vh;
}


input[type=button], input[type=submit], input[type=reset] {
    background-color: #ff5500;
    border: none;
    color: white;
    padding: 0.5vmax;
    text-decoration: none;
    margin: 0.6vmax;
    cursor: pointer;
    width: 20%;
    font-weight: bold;
    font-size: 1.3vmax;

    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 0px solid #000000;

    -webkit-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
}
