body {
    background-image: url("/images/backO.jpg");
}

.container {
    width: 85%;
    height: 98vh;
    margin:0 auto;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
}

.header {
    background-color: #ff5500;
    width: 100%;
    text-align: center;
    font-size: 3vmax;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 2vh;
    box-sizing: border-box;
    height: 20%;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}


.main {
    height: 62%;
    width: 50%;
    box-sizing: border-box;
    margin:auto;
    text-align: center;
    padding-top: 8vh;
}


input[type=button], input[type=submit], input[type=reset] {
    background-color: #ff5500;
    border: none;
    color: white;
    padding: 0.5vmax;
    text-decoration: none;
    cursor: pointer;
    width: 40%;
    font-weight: bold;
    font-size: 1.5vmax;

    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 0px solid #000000;

    -webkit-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
}


p {
    font-weight: bold;
    font-size: 2vw;
    text-align: center; 
    font-family: Verdana, Arial, Helvetica, sans-serif;   
}

span {
    color: green;
    font-size: 3vw;
    text-align: center; 
    font-family: Verdana, Arial, Helvetica, sans-serif;    
}

#incorrect {
    color: red;
    font-size: 5vw;
    text-align: center; 
    font-family: Verdana, Arial, Helvetica, sans-serif;   
}

#correct {
    color: green;
    font-size: 5vw;
    text-align: center; 
    font-family: Verdana, Arial, Helvetica, sans-serif;   
}