
.quest {
    display: block;
}


#question {
    width: 100%;
    font-weight: bold;
    font-size: 180%;
    text-align: center;
}

span {
    font-weight: bold;
    font-size: 280%;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: green;
}

p {
    font-weight: bold;
    font-size: 280%;
    text-align: center;
}


.container {
    width: 100%;
    padding-top: 5%;
}

.form {
    text-align: center;
    width: 100%
    height: 30%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #ff5500;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 25%;
    font-weight: bold;
    font-size: 150%;

    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 0px solid #000000;

    -webkit-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
}
/*
body {
    background-image: url("/images/r.jpg");
}*/
