body {
    background-image: url("/images/backO.jpg");
}

.container {
    width: 85%;
    height: 100%;
    margin:0 auto;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
}

.header {
    background-color: #ff5500;
    width: 100%;
    text-align: center;
    font-size: 3vmax;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 2vh;
    box-sizing: border-box;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

h2 {
    font-weight: bold;
    font-size: 4vw;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
}

.sub {
    display: block;
    margin:1% auto;
    width: 45%;
    background-color: #ffad33;
    padding:0.1vw; 
    text-align: left;
    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 0px solid #000000;

    -webkit-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
}

p {
    font-weight: bold;
    font-size: 1.5vw;
}

.points {
	float: right;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #ff5500;
    border: none;
    color: white;
    padding: 0.5vmax;
    text-decoration: none;
    margin: 0.6vmax auto;
    cursor: pointer;
    width: 26%;
    font-weight: bold;
    font-size: 1.3vmax;

    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 0px solid #000000;

    -webkit-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
}

