

body {
    background-image: url("/images/backO.jpg");
}

.container {
    width: 85%;
    height: 100%;
    margin:0 auto;
    overflow: hidden;
    background-color: #ffffff;
}

.er {
    font-weight: bold;
    font-size: 1.1vmax;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    color: red;
}


header {
    background-color: #ff5500;
    width: 100%;
    text-align: center;
    font-size: 3vmax;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 2vh;
    box-sizing: border-box;
    padding: 0.1vh;
}



input[type=text], input[type=password], input[type=email] {
    background-color: white;
    border: none;
    border-bottom: 0.3vmin solid red;
    width: 70%;
    padding: 1vmax 1vmax;
    font-size: 1vmax;
    box-sizing: border-box;
    border-radius: 4px;
}


img {
    margin-top: 2vh;
    height: 100%;
    width: 50%;
    height:auto;
    float: left;
    box-sizing: border-box;
    padding-left: 10vw;
    padding-top: 2vh;
    padding-bottom: 3vh;
    text-align: center;
}


.boxin {
    margin-top: 2vh;
    height: 100%;
    width: 50%;
    height:auto;
    float: right;
    box-sizing: border-box;
    padding-right: 10vw;
    padding-left: 7vw;
}


p {
   font-weight: bold;
   font-size: 1.2vmax;
   font-family: Verdana, Arial, Helvetica, sans-serif; 
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #ff5500;
    border: none;
    color: white;
    padding: 0.5vmax;
    text-decoration: none;
    /*margin: 0.5vmax;*/
    cursor: pointer;
    width: 70%;
    font-weight: bold;
    font-size: 1.3vmax;

    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 0px solid #000000;

    -webkit-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 10px 4px 5px 0px rgba(0,0,0,0.35);
}
