

<!DOCTYPE html>
<html>

<head>
    <title>Juego - Pregunta2</title>
    <link rel='stylesheet' href='/css/game.css'>
</head

<body>

<div id="imgbox2">
    	<img src="./images/2.png">
    </div>

<div class="container">

	<div class="box">
	    <form action="/gameStart" method="post">
			<input type="submit" value="Jugar">
		</form>
		<form action="/ranking" method="get">
			<input type="submit" value="Ver Ranking">
		</form>
		<form action="/logOut" method="post">
			<input type="submit" value="Salir">
		</form>
	<div>

</div>

</body>
</html>