<!DOCTYPE html>
<html>

<head>
	<title>Pregunta2</title>
</head>

<body>

<h1>PREGUNTA2</h1>

<form action="/playNewGameBeginning" method="post">
	<input type="submit" value="Jugar">
</form>

</body>

</html>
