<!DOCTYPE html>

<html>


<head>
    <title>Pregunta2</title>
    <link rel='stylesheet' href='/css/ppal.css'>
</head


<body>

	<div class="container">

		<div class="header">
		    <h1>Pregunta2</h1>
		</div>
    
	
    	<div class="sign_in_b">

    		<form method="get" action="/sign_up">
		   		<input type="submit" value="Registrarse"/>
			</form>

		</div>

		<div class="sign_up_b">

			<form method="get" action="/sign_in">
		   	<input type="submit" value="Ingresar"/>
			</form>

		</div>

		</div class="image">
    		<img src="./images/2.png" align="middle">
    	</div>

    </div>
     
</body>



</html>
