<!DOCTYPE html>
<html>

<head>
    <title>Pregunta2</title>
    <link rel='stylesheet' href='/css/ppal.css'>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>

	<div class="container">

		<div class="header">
    		<h1>Pregunta2</h1>
    	</div>
    
		<section class="main">
    		<form method="get" action="/sign_up">
		   		<input type="submit" value="Registrarse"/>
			</form>

			<form method="get" action="/sign_in">
		   		<input type="submit" value="Ingresar"/>
			</form>
		</section>	

		<footer>
    		<img src="./images/2.png" align="middle">
		</footer>
		
    </div>
     
</body>



</html>
