<!DOCTYPE html>

<html lang="es">


<head>
    <title>Pregunta2</title>
    <link rel='stylesheet' href='/css/ppal.css'>
</head


<body>

    <header>
        <h1>Pregunta2</h1>
    </header>

    <p> Bienvenidos a pregunta2! </p>
    <p> Estas preparado para jugar? Registrate primero: </p>

    <form method="get" action="/sign_up">
	   <input type="submit" value="Sign Up"/>
	</form>

	<p> ya estas registrado? Ingresa: </p>

	<form method="get" action="/sign_in">
	   <input type="submit" value="Sign In"/>
	</form>
     
</body>



</html>
