<!DOCTYPE html>
<html>

<head>
	<title>Pregunta2</title>
</head>

<body>

<h1>Congratulations!</h1>

<p>Correct answers: {{correct}}</p> 
<p>Incorret answers: {{incorrect}}</p>


<form method="get" action="/game">
	   <input type="submit" value="Aceptar"/>
</form>

</body>
