<!DOCTYPE html>
<html>

<head>
	<title>Pregunta2</title>
</head>

<body>

<h1>Congratulations!</h1>

<p>Correct answers: {{rightAnswers}}</p> 
<p>Incorret answers: {{wrongAnswers}}</p>


<form method="post" action="/game2">
	   <input type="submit" value="Aceptar"/>
</form>

</body>
