<!DOCTYPE html>
<html>

<head>
	<title>Pregunta2</title>
</head>

<body>

<h1>{{question_name}}</h1>

<p>{{option1}}</p> 
<p>{{option2}}</p>
<p>{{option3}}</p>
<p>{{option4}}</p>





</body>

</html>