<!DOCTYPE html>
<html>

<head>
    <title>Respuesta Correcta - Pregunta2</title>
</head

<body>
    <header>
        <h1>La respuesta es CORRECTA!!!!</h1>
    </header>
        <form method="post" action="/nextQuestion">
            <p>La respuesta es CORRECTA!!!!</p> 
            <input type="submit" value="Continuar">
        </form>
</body>
</html>