<!DOCTYPE html>
<html>

<head>
    <title>Sala de Espera - Pregunta2</title>
    <link rel='stylesheet' href='/css/room.css'>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="/js/jquery-3.2.1.min.js"></script>
</head>

<body>
    <div class="container">

        <div class="header">
            <h1>Pregunta2</h1>
        </div>

        <div class="tablesContainer">
            <div class="table"></div>
            <div class="table"></div>
            <div class="table"></div>
            <div class="table"></div>
        </div>

        <div class="chat">
        </div>

    </div>


    <script>


        /*
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML =
                    this.responseText;
                }
            };
            xhttp.open("GET", "ajax_info.txt", true);
            xhttp.send();
        }
        */

    </script>



    <!--  <script src="/js/Room.js"></script> -->
</body>

</html>
