<!DOCTYPE html>
<html>
<body>

<form method="post" action="/sign_up_success">

  <p>Usuario: </p> <input type="text" name="username">

  <br>

  <p>Constraseña: </p> <input type="text" name="password">

  <br>

  <p>Email: </p> <input type="text" name="email">
  
  <br>
  <br>
  <input type="submit" value="Create an account">

</form> 





</body>
</html>