<!DOCTYPE html>
<html>

<head>
    <title>Registrarse - Pregunta2</title>
    <link rel='stylesheet' href='/css/signup.css'>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head

<body>

<div class="container">

    <header>
        <h1>Pregunta2</h1>
    </header>

	<img src="/images/corona.png">



	<div class="boxin">

    	<form method="post" action="/sign_up_check">

        	<p>Usuario: </p> 
        	<input type="text" name="username"  autocomplete="off" placeholder="Nombre de usuario" required>

        	<br>

        	<p>Contraseña: </p> 
        	<input type="password" name="password" placeholder="Contraseña" required>

        	<br>

        	<p>Repetir contraseña: </p> 
        	<input type="password" name="passwordRep" placeholder="Contraseña" required>

        	<br>

        	<p>Email: </p>
        	<input type="email" name="email" autocomplete="off" placeholder="email@example.com" required>
  
        	<br>
        	<p class="er">{{error}}</p>
        	<br>
        	<input type="submit" value="Crear cuenta">

    	</form> 

    </div>

<div>




</body>
</html>