<!DOCTYPE html>
<html>
<body>

	<h1>Bienvenido a pregunta2 {{username}}</h1>
	
	<p>Ingresa para Jugar</p>

	<form method="get" action="/sign_in">
	   <input type="submit" value="Sign in"/>
	</form>



</body>
</html>