<!DOCTYPE html>
<html>

<head>
	<title>Fin -Pregunta2</title>
	<link rel='stylesheet' href='/css/signupSuccess.css'>
</head>

<body>

	<h1>Bienvenido a pregunta2! <span> {{username}} </span></h1>
	
	<div class="imgbox">
    	<img src="./images/re3.png">
    </div>

	
	<div class="form">
		<p>Ingresa para Jugar</p>
		<form method="get" action="/sign_in">
		   <input type="submit" value="Ingresar"/>
		</form>

		<div class="imgbox2">
    		<img src="./images/re2.png">
    	</div>
    </div>

</body>

</html>