<!DOCTYPE html>
<html>
<body>

<form method="post" action="/game">
  <p>Usuario: </p> <input type="text" name="username">
  <br>
  <p>Constraseña: </p> <input type="text" name="password">
  <br>
  <br>
  <input type="submit" value="Sing in">
</form> 


</body>
</html>