<!DOCTYPE html>
<html>

<head>
    <title>Respuesta Incorrecta - Pregunta2</title>
</head

<body>
    <header>
        <h1>La respuesta es INCORRECTA!!!!</h1>
    </header>
        <form method="post" action="/nextQuestion">
            <p>La respuesta es INCORRECTA!!!!</p> 
            <p>La respuesta era: <span>{{correctOp}}</span></p>
            <input type="submit" value="Continuar">
        </form>
</body>
</html>