<!DOCTYPE html>
<html>

<head>
    <title>Respuesta Incorrecta - Pregunta2</title>
    <link rel='stylesheet' href='/css/questionFeedback.css'>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>
	<div class="container">

    	<div class="header">
    		<h1>Pregunta2</h1>
    	</div>

    	<div class="main">
			<p id="incorrect">Incorrecto!</p>
			<p>La respuesta era: <span>{{correctOp}}</span></p>
			<form method="post" action="/nextQuestion">
				<input type="submit" value="Continuar"/>
			</form>
		</div>
    </div>
 
</body>
</html>