<!DOCTYPE html>
<html>
<body>

<form method="post" action="/juego">
  Usuario: <input type="text" name="usuario">
  <br>
  Constraseña: <input type="text" name="contraseña">
  <br>
  <br>
  <input type="submit" value="Ingresar">
</form> 


</body>
</html>