<!DOCTYPE html>

<html lang="es">


<head>
        <title>Pregunta2</title>
        <link rel='stylesheet' href='/src/main/resources/templates/ppal.css'>
</head>


<body>
        <header>
                <h1>Pregunta2</h1>
        </header>

        <p> Bienvenidos a pregunta2! </p>
        <p> Estas preparado para jugar? Registrate primero: </p>

        <form method="post" action="/registrarse">
		<input type="submit" value="Registrarse"/>
		</form>

		<p> ya estas registrado? Ingresa: </p>

		<form method="post" action="/ingresar">
		<input type="submit" value="Ingresar"/>
		</form>

        
</body>



</html>
