<!DOCTYPE html>
<html>
<body>

<form method="post" action="/">

  Usuario: <input type="text" name="usuario">
  <br>
  Constraseña: <input type="text" name="contraseña">
  <br>
  Email: <input type="text" name="Email">
  <br>
  <br>
  <input type="submit" value="Registrarse">

</form> 





</body>
</html>